body{
  /* background-color: black; */
  width: 100%;
  margin: 0;
  padding: 0;


}
nav{
  width: 100%;
  height: 70px;
  font-size: large;
  font-family: Arial, sans-serif;
  padding: 0;
  background-color:  rgb(128, 107, 220);
  color: white;
  display: flex;
  
  justify-content: center;
  margin-bottom: 0;
}

section{
  margin: 0;
  background-color: white;
  max-width: none;
  height: 150px;
  display: flex;
  
  column-gap: 90px;
 
}
.image-gallery {
  display: flex; /* Arrange images in a row */
  justify-content: center; /* Center the images horizontally */
  gap: 150px; /* Create equal gaps between the images */
  margin: 30px;

}

.image-gallery img {
  width: 100px; /* Adjust the image width as needed */
  height: auto;

}
